.section-content{
	width: 100%;
	padding: 8rem 0px;
	position: relative;
}

.section-content .content{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.section-content .content .text-content{
	width: 35%;
	margin-bottom: 30px;
}

.content .text-content .title{
	font-size: var(--font-size-title);
	margin-bottom: 10px;
	font-weight: 400;
	line-height: 2.5rem;
}

.title-small{
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: 400;
}

.content .text-content .detail{
	font-size: var(--font-size-normal);
	font-weight: 200;
	line-height: 1.5rem;
}

.section-content .content .product-img{
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-content .content .product-img img{
	width: 200px;
	transform: rotate(25deg);
	transition: 0.2s;
}

.product-img-responsive{
	display: none;
}

.d-lg-none{
	display: none;
}


div#container-home > div:nth-child(1).section > div.section-img > img:nth-child(1),
div#container-home > div:nth-child(2).section > div.section-img > img:nth-child(1) {
	top: 0;
	left: 0;
	width: 200px;
	transform: rotate(25deg);
	transition: 0.2s;
}

/* div#container-home > div:nth-child(1).section > div.section-control {
	grid-template-columns: 1fr;
}

div#container-home > div:nth-child(2).section > div.section-control {
	grid-template-columns: unset;
}

div#container-home > div:nth-child(1).section > div.section-control > div {
	width: calc(100%/3);
} */

div#container-home > div:nth-child(1).section > div.section-control > div:nth-child(1) > p:nth-child(1) {
	font-size: var(--font-size-title);
	margin-top: 140px;
	margin-bottom: 10px;
}

/* div#container-home > div:nth-child(2).section > div.section-control > div {
	width: calc(100%/3);
} */

div#container-home > div:nth-child(2).section > div.section-control > div:nth-child(1) > p:nth-child(1) {
	font-size: var(--font-size-title);
	margin-bottom: 10px;
}

div#container-home > div:nth-child(2).section > div.section-control > div:nth-child(1) > p:nth-child(2),
div#container-home > div:nth-child(2).section > div.section-control > div:nth-child(1) > p:nth-child(4) {
	font-size: var(--font-size-normal);
	font-weight: 200;
	line-height: 1.5rem;
	margin-bottom: 30px;
}

div#container-home > div:nth-child(2).section > div.section-control > div:nth-child(3) > p:nth-child(1) {
	font-weight: 400;
}

div#container-home > div:nth-child(2).section > div.section-control > div:nth-child(3) > p:nth-child(2) {
	font-weight: 200;
}


div#container-home > div:nth-child(3).section > div.section-img > img:nth-child(1) {
	left: 0;
	width: 60%;
}

div#container-home > div:nth-child(3).section > div.section-control > div:nth-child(3) {
	text-align: center;
}

div#container-home > div:nth-child(3).section > div.section-control > div:nth-child(3) > p:nth-child(1) {
	font-size: var(--font-size-title);
	/* line-height: 1.5rem; */
	margin-bottom: 20px;
}

div#container-home > div:nth-child(3).section > div.section-control > div:nth-child(3) > p:nth-child(2) {
	font-size: var(--font-size-normal);
	line-height: 1.5rem;
	margin-bottom: 20px;
}

div#container-home > div:nth-child(4).section {
	height: auto;
	padding: 100px 0;
}

div#container-home > div:nth-child(4).section > div {
	width: var(--width-control);
	max-width: var(--max-width-control);
}

div#container-home > div:nth-child(4).section > div {
	display: grid;
	grid-template-columns: 1fr;
	width: var(--width-control);
	max-width: var(--max-width-control);
}

div#container-home > div:nth-child(4).section > div > div:nth-child(1) > p {
	margin: 0 0 30px 0;
	font-size: var(--font-size-title);
}

div#container-home > div:nth-child(4).section > div > div:nth-child(2) {
	display: grid;
	position: relative;
	grid-auto-flow: column;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 5px;
}

div#container-home > div:nth-child(4).section > div > div:nth-child(2) > div {
	display: block;
	width: 100%;
	position: relative;
}

div#container-home > div:nth-child(4).section > div > div:nth-child(2) > div > img {
	display: block;
	width: 100%;
}

div#container-home > div:nth-child(5).section > div {
	display: grid;
	grid-template-columns: 1fr;
	width: calc(var(--width-control) - 30%);
	max-width: calc(var(--max-width-control) - 500px);
}

div#container-home > div:nth-child(5).section > div > div:nth-child(1),
div#container-home > div:nth-child(5).section > div > div:nth-child(2) {
	display: grid;
	justify-content: center;
}

div#container-home > div:nth-child(5).section > div > div:nth-child(1) {
	font-size: var(--font-size-title);
	margin-bottom: 20px;
}

div#container-home > div:nth-child(5).section > div > div:nth-child(2) {
	font-size: var(--font-size-normal);
}

div#container-home > div:nth-child(5).section > div > div:nth-child(3) {
	display: grid;
	position: relative;
	grid-auto-flow: column;
	grid-template-columns: repeat(7, 1fr);
	column-gap: 50px;
	margin-top: 200px;
}

div#container-home > div:nth-child(5).section > div > div:nth-child(3) > a {
	position: relative;
	display: block;
	width: 100%;
}

div#container-home > div:nth-child(5).section > div > div:nth-child(3) > a > img {
	display: block;
	width: 100%;
	min-width: 50px;
	max-width: 100px;
	cursor: pointer;
}

div#container-home > div:nth-child(6).section {
	height: 600px;
}

div#container-home > div:nth-child(6).section > div.section-control {
	grid-template-columns: repeat(2, 1fr);
}

div#container-home > div:nth-child(6).section > div.section-control > div:nth-child(1) > p:nth-child(1) {
	font-size: var(--font-size-title);
	margin-bottom: 20px;
}

div#container-home > div:nth-child(6).section > div.section-control > div:nth-child(1) > p:nth-child(2) {
	font-size: var(--font-size-normal);
	font-weight: 200;
}

div#container-home > div:nth-child(6).section > div.section-control > div:nth-child(2) {
	display: grid;
	position: relative;
	justify-items: end;
}

div#container-home > div:nth-child(6).section > div.section-control > div:nth-child(2) > div {
	display: grid;
	width: 50%;
	justify-items: end;
}

div#container-home > div:nth-child(6).section > div.section-control > div:nth-child(2) > div > p:nth-child(1) {
	display: grid;
	font-size: calc(var(--font-size-normal) + 3px);
	margin-bottom: 20px;
}

/* div#container-home > div:nth-child(6).section > div.section-control > div:nth-child(2) > div:nth-child(2) > div {
	display: grid;
	position: relative;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr 1fr 40%;
	justify-items: end;
	column-gap: 24px;
} */


div#container-home > div:nth-child(6).section > div.section-control > div:nth-child(2) > div > div > a > img, 
div#container-home > div:nth-child(6).section > div.section-control > div:nth-child(2) > div > div > img {
	display: block;
	width: 100%;
	min-width: 25px;
}

div#container-home > div:nth-child(6).section > div.section-control > div:nth-child(2) > div > div > img:not(:last-child) {
	cursor: pointer;
}

.item-contact-facebook {
	grid-area: ifacebook;
	max-width: 40px;
	min-width: 30px;
}

.item-contact-ig {
	grid-area: iig;
	max-width: 40px;
	min-width: 30px;
}

.item-contact-line {
	grid-area: iline;
	max-width: 40px;
	min-width: 30px;
}

.item-contact-qrcode {
	grid-area: iqrcode;
	max-width: 150px;
	min-width: 80px;
}

.grid-container-home {
	display: grid;
	grid-gap: 10px;
	grid-template-areas:
	'ifacebook iig iline iqrcode iqrcode iqrcode iqrcode iqrcode iqrcode iqrcode'
}

div#container-home > div.section-map {
	height: 500px;
}

.section-map iframe{
	width: 100%;
	height: 100%;
}

@media (max-width: 992px) {

	.d-sm-none{
		display: none !important;
	}

	.d-sm-block{
		display: block !important;
	}

	div#container-home > div.section {
		height: auto;
		padding: 80px 0 10px 0;
	}

	div#container-home > div.section > div.section-control {
		position: relative;
	}

	div#container-home > div.section:nth-child(1) > div.section-control,
	div#container-home > div.section:nth-child(2) > div.section-control {
		grid-template-columns: 1fr;
	}

	div#container-home > div.section:nth-child(2) > div.section-control > div:not(:first-child),
	div#container-home > div.section:nth-child(2) > div.section-control > div:nth-child(1) > p:nth-child(3),
	div#container-home > div.section:nth-child(2) > div.section-control > div:nth-child(1) > p:nth-child(4) {
		display: none;
	}

	div#container-home > div.section > div.section-control p {
		text-align: center;
	}

	div#container-home > div:nth-child(1).section > div.section-control > div:nth-child(1) > p:nth-child(1) {
		margin-top: 0;
	}

	div#container-home > div:nth-child(1).section > div.section-img > img:nth-child(1),
	div#container-home > div:nth-child(2).section > div.section-img > img:nth-child(1) {
		width: 200px;
		transform: rotate(0deg);
	}

	div#container-home > div.section:nth-child(3) > div.section-img > img:nth-child(1) {
		width: 100%;
	}

	div#container-home > div.section:nth-child(3) > div.section-control {
		grid-template-columns: 1fr;
	}

	div#container-home > div:nth-child(4).section > div > div:nth-child(1) > p {
		text-align: center;
	}

	div#container-home > div:nth-child(4).section > div > div:nth-child(2) {
		grid-template-columns: 1fr 1fr;
		grid-auto-flow: unset;
	}

	div#container-home > div:nth-child(5).section {
		height: auto;
	}

	div#container-home > div:nth-child(5).section > div {
		width: 80%;
		margin-bottom: 50px;
	}

	div#container-home > div:nth-child(5).section > div > div:nth-child(3) {
		grid-template-columns: repeat(3, 1fr);
		grid-auto-flow: unset;
	}

	div#container-home > div:nth-child(6).section {
		height: 700px;
	}

	div#container-home > div:nth-child(6).section > div.section-control {
		grid-template-columns: repeat(1, 1fr);
		row-gap: 30px;
	}

	div#container-home > div:nth-child(6).section > div.section-control > div p{
		text-align: center;
	}

	div#container-home > div:nth-child(6).section > div.section-control > div:nth-child(2) {
		grid-template-columns: repeat(1, 1fr);
	}

	.grid-container-home {
		display: grid;
		grid-gap: 15px;
		grid-template-areas:
		'iqrcode iqrcode iqrcode '
		'ifacebook iig iline'
	}

	div#container-home > div:nth-child(6).section > div.section-control > div:nth-child(2) > div {
		width: 100%;
		justify-items: center;
	}

	.product-img-responsive{
		display: block;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 2.5rem;
	}

	.product-img-responsive img{
		width: 200px;
		transform: rotate(0deg) !important;
	}

	.section-content .content .text-content{
		width: 100%;
		text-align: center;
		margin: 1rem 0px;
	}
}

/* จอมือถือ */
@media (min-width: 340px) and (max-width: 577px){
	.section-content .content .text-content{
		width: 100%;
		text-align: center;
		margin: 1rem 0px;
	}
}