:root {
	--navbar-bg-color: #232323;
	--navbar-text-color: #FFFFFF;

	--bg-color-black: black;
	--bg-color-white: #E5E5E5;

	--width-control: 80%;
	--max-width-control: 1570px;

	--width-control-res: 90%;
	--max-width-control-res: 1570px;

	--footer-bg-color: #232323;
	--footer-margin: 50px;

	--btn-bg-color: none;
	--btn-bg-color-hover: #FFFFFF;

	--text-color-white: white;
	--text-color-black: black;

	--font-size-title:35px;
	--font-size-normal: 20px;

	--transition: 0.2s;

	--media-max-width: 940px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Prompt', sans-serif;
}

div.container-wrap {
	position: relative;
	min-height: 100vh;
	background-color: var(--bg-color-black);
}

div.content-wrap {
	padding-bottom: 50px;
	overflow-x: hidden;
	overflow-y: hidden;
}

div.container {
	position: relative;
}

.container-custom{
    max-width: 1536px;
    margin: auto;
}

div.section {
	display: grid;
	position: relative;
	width: 100%;
	height: 889px;
	/* padding: 100px 0; */
	
	align-items: center;
	justify-items: center;

	font-family: 'Prompt', sans-serif;
}

div.section * {
	font-family: 'Prompt', sans-serif;
}

div.section-img {
	display: grid;
	position: relative;
	max-width: 1920px;
}

div.section-img > img {
	width: 100%;
}

div.section-info {
	display: grid;;
	width: 80%;
}

div.section-control {
	display: grid;
	position: absolute;
	width: var(--width-control);
	max-width: var(--max-width-control);
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
}

div.section-control-y {
	display: grid;
	position: absolute;
	width: var(--width-control);
	max-width: var(--max-width-control);
	grid-template-rows: 200px 1fr;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

div.section-control > div {
	display: grid;
	position: relative;
}

div.section-control > div:nth-child(1) {
	text-align: left;
}

div.section-control > div:nth-child(2) {
	text-align: center;
}

.bg-color-black {
	background-color: var(--bg-color-black);
}

.bg-color-white {
	background-color: var(--bg-color-white);
}

.text-color-white {
	color: var(--text-color-white);
}

.text-color-black {
	color: var(--text-color-black);
}

.section-icons-silde {
	position: absolute;
	bottom: 50px;
	right: 180px;
	color: white;
}

ul.section-icons-silde {
	display: grid;
	grid-column-gap: 10px;
	grid-auto-flow: column;
}

.section-icons-silde > ul > li {
	display: inline-grid;
	cursor: pointer;
	align-content: center;
	justify-content: center;
	text-align: center;
	background-color: dimgray;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	opacity: 0.5;
}

li.img-slide-active {
	opacity: 1 !important;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.btn {
	border-radius: 20px;
	padding: 5px 35px;
	font-size: var(--font-size-normal);
	cursor: pointer;
	transition: var(--transition);
	text-decoration: none;
}

.btn-black {
	color: var(--text-color-black);
	background-color: unset;
	border: solid 1px var(--bg-color-black);
	font-family: 'Prompt', sans-serif;
}

.btn-white {
	color: var(--text-color-white);
	background-color: unset;
	border: solid 1px var(--bg-color-white);
}

.btn:hover {
	color: var(--text-color-black);
	background-color: var(--btn-bg-color-hover);
}

.img-section{
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-section img{
	width: 50%;
}

.text-section{
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-section .text-box{
	padding: 0px 15px;
}

.text-section .text-box .title{
	font-size: var(--font-size-title);
	margin-bottom: 10px;
	font-weight: 400;
	line-height: 2.5rem;
}

.text-section .text-box .detail{
	font-size: var(--font-size-normal);
	font-weight: 200;
	line-height: 1.5rem;
}

.justify-content-center{
	justify-content: center !important;
}

/* spacing */
.ma-0{
	margin: 0 !important;
}
.mt-10px{
	margin-top: 10px;
}
.mt-20px{
	margin-top: 20px;
}
.mt-30px{
	margin-top: 30px;
}

.mb-20px{
	margin-bottom: 20px;
}

.pa-0{
	padding: 0px !important;
}

.text-center{
	text-align: center !important;
}
/* end spacing */


/* sizing */
.w-100{
	width: 100% !important;
}
/* end sizing */

/* จอ ipad */
@media (max-width: 992px) {
	.container-custom{
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}

	.img-section{
		width: 100%;
	}

	.text-section{
		width: 100%;
		margin-top: 3rem;
	}

	.section-content{
		padding: 5rem 0px 5rem 0px !important;
	}

	.d-sm-text-center{
		text-align: center !important;
	}

	.d-sm-none{
		display: none !important;
	}

	.d-sm-block{
		display: block !important;
	}
	.d-sm-width-fit{
		width: fit-content !important;
	}
}

/* จอมือถือ */
@media (min-width: 340px) and (max-width: 577px){

}